

<ul class="navbar-nav my-2 my-lg-0">
    @if (Request.IsAuthenticated)
    {
        //kullanıcı ladını ve logout linklerini çıkar
        <li class="nav-item active">
            <a class="nav-link" href="/">@User.Identity.Name</a>
          @if (User.IsInRole("admin"))
          {
              <a href="/Category"><button class="btn btn-primary">Admin Paneli</button></a>
          }


        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/Account/Logout"></a>
        </li>

    }
    else
    {
        //login ve register linklerini çıkar
        <li class="nav-item active">
            <a class="nav-link" href="/Account/Login">Login</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/Account/Register">Register</a>
        </li>


    }

</ul>












<form class="form-inline">
    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
</form>